certifi==2021.10.8
charset-normalizer==2.0.7
click==7.1.2
et-xmlfile==1.1.0
excel2json==1.0.1
excel2json-3==0.1.6
Flask==1.1.2
Flask-Cors==3.0.9
Flask-JWT-Extended==3.24.1
Flask-PyMongo==2.3.0
idna==3.3
itsdangerous==1.1.0
jdcal==1.4.1
Jinja2==2.11.2
MarkupSafe==1.1.1
numpy==1.19.2
openpyxl==3.0.6
pandas==1.1.0
pkg-resources==0.0.0
PyJWT==1.7.1
pymongo==3.11.0
python-dateutil==2.8.1
python-excel2json==0.2
pytz==2020.1
PyYAML==5.3.1
requests==2.26.0
six==1.15.0
urllib3==1.26.7
Werkzeug==1.0.1
xlrd==1.0.0
